.login {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 5%;
}

.logo{
    width: 209sp;
    height: 43sp;
}

.loginImage{
    width: 633.76px;
    height: 327.5px;
}

.form-group {
    width: 296px;
    height: 36px;
    border-bottom-style: groove;
}


/*Button Login*/
#btn-login {
    width: 297px;
    height: 46px;
    background-color: #000050;
    border: #000050;
}