.tulisan1 {
    position: absolute;
    color: #707070;
}

.tulisan2 {
    position: absolute;
    color: #000050;
}

.badge1 {
    color: white;
    background-color: #707070;
    border: #707070;
}

.badge2 {
    color: white;
    background-color: #000050;
    border: #000050;
}